<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="/"/>
    <title>Shimapan</title>

    <link rel="stylesheet" href="/css/home.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"/>

    <script src="/libs/app/shimapan.bundle.js"></script>

</head>
<body ng-app="shimapan">
    <div id="container">
        <h1>Shimapan~</h1>
        <upload-component></upload-component>
        <nav>
            <ul>
                <li><a href="/">Shimapan</a></li>
                <li><a href="/panel">Panel</a></li>
                <li><a href="">Tools</a></li>
                <li><a href="">Git</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>