<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/panel"/>
    <title>Panel</title>
    <link rel="stylesheet" href="/css/panel.min.css"/>
    <script src="/libs/app/panel.bundle.js"></script>
</head>
<body ng-app="shimapan-panel">
    <div class="container">
        <div class="sidebar" ng-controller="NavController">
            <div class="sidebar-title"><a ui-sref="home">Shimapan</a></div>
            <ul class="nav">
                <li><a ui-sref="dashboard" ng-class="{active: $state.$current.name=='dashboard'}">Dashboard</a></li>
                <li><a ui-sref="search" ng-class="{active: $state.$current.name=='search'}">Search</a></li>
                <li><a ui-sref="api" ng-class="{active: $state.$current.name=='api'}">API</a></li>
                <li><a ui-sref="invites" ng-class="{active: $state.$current.name=='invites'}">Invites</a></li>
                <li ng-hide="!hasPermission('users.view')"><a ui-sref="users" ng-class="{active: $state.$current.name=='users'}">Users</a></li>
                <li><a ui-sref="stats" ng-class="{active: $state.$current.name=='stats'}">Statistics</a></li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </div>
        <div class="content" ng-class="{isOpen: open}">
            <div class="button" ng-class="{isOpen: open}" ng-init="open = false" ng-click="open = !open">
                <div class="button-inner"></div>
                <span class="button-label">Menu</span>
            </div>
            <div class="view" ui-view></div>
        </div>
    </div>
</body>
</html>