<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="/panel"/>
    <title>Panel</title>

    <link rel="stylesheet" href="/css/panel.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"/>

    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="/libs/app/app.js"></script>
</head>
<body ng-app="shimapan-panel">
    <div id="container" ui-view></div>
</body>
</html>