<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <base href="/register"/>
    <title>Register</title>

    <script src="/libs/angular/angular.min.js"></script>
    <script src="/libs/ng-file-upload/ng-file-upload-all.min.js"></script>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="/libs/ngclipboard/src/ngclipboard.js"></script>

    <script src="/libs/app/app.js"></script>
</head>
<body ng-app="shimapan">
    <div id="container">
        <register-component></register-component>
    </div>
</body>
</html>

