<div class="upload">
    <form id="upload-form" ng-submit="submit()">
        <button id="upload-btn" class="btn" ngf-select="uploadFiles($files, $invalidFiles)" ngf-max-size="128MB" multiple>Select or drop file(s)</button>
    </form>
    <ul id="upload-filelist">
        <li ng-repeat="file in files">
            <span class="list-name" ng-bind="file.name"></span>
            <progress class="list-progress" max="100" value="{{file.progress}}" ng-hide="file.progress == 100"></progress>
            <span class="list-url">
                <a href="{{file.result.url}}" ng-hide="file.progress < 100">{{file.result.url}}</a>
                <button class="list-url-clipboard-btn" ngclipboard data-clipboard-text="{{file.result.url}}">
                    <img src="/img/glyphicons-512-copy.png"/>
                </button>
            </span>
        </li>
        <li ng-repeat="file in errorFiles">
            <span class="list-name" ng-bind="file.name"></span>
            <span class="list-err">Error: {{errToString(file.$error)}}</span>
        </li>
    </ul>
</div>