* {
    margin: 0;
}

body {
    background: #000;
}

a {
    position: absolute;
    top: 5px;
    left: 48%;
    opacity: 0.1;
    height: 30px;
    width: 30px;
    z-index: 100;
    cursor: default;
}

a img {
    width: 30px;
    height: 30px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 1920px;
    height: 760px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

#buffer {
    display: none;
}