/* SHIMAPAN title */
.sidebar-title {
    grid-row-start: 1;
    grid-row-end: 1;
    place-self: center;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 60px;
    /*border-bottom: 1px solid #999;*/
}
.sidebar-title span {
    color: #2a9fd6;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

/* Nav Container  */
.sidebar {
    grid-row-start: 2;
    grid-row-end: 2;
}

/* Nav Elements */
.nav li {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.nav li a {
    flex: 1;
    outline: none;
    padding: 20px 0 20px;
    margin-left: 20px;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}
.nav li span {
    background: #0d0d0d;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.nav-icon {
    font: 14px fontawesome;
    color: #fff;
}
.nav li a:hover {
    color: #fff;
}
.nav li a.active {
    color: #fff;
}

/* Prevent annoying outline on firefox */
::-moz-focus-inner {border: 0;}
