<div id="register-form" class="form">
    <h3>Register</h3>
    <fieldset>
        <form ng-submit="register()">
            <input id="username" placeholder="Username" class="form-control" type="text" ng-model="username"/>
            <input id="password" placeholder="Password" class="form-control" type="password" ng-model="password"/>
            <input id="invite" placeholder="Invite Code" class="form-control" type="text" ng-model="invite"/>
            <button type="submit" class="btn">Submit</button>
        </form>
    </fieldset>
</div>