<div id="dash-container" ng-controller="DashController">
    <div id="dash-historical" class="dash-row">
        <div class="dash-card dash-card-graph">
            <canvas id="dash-upload-historical" class="chart chart-line"
                    chart-data="uploadData" chart-series="uploadSeries" chart-options="uploadOptions"
                    chart-labels="uploadLabels"
                    chart-dataset-override="uploadDatasetOverride" chart-click="uploadOnClick"
                    chart-colors="uploadColors"></canvas>
        </div>
        <div class="dash-card dash-card-graph">
            <canvas id="dash-view-historical" class="chart chart-line"
                    chart-data="viewData" chart-series="viewSeries" chart-options="viewOptions"
                    chart-labels="viewLabels"
                    chart-dataset-override="viewDatasetOverride" chart-click="viewOnClick"
                    chart-colors="viewColors"></canvas>
        </div>
    </div>
    <div id="dash-singlestats" class="dash-row" ng-init="statUploads=0;statUploadSize=0;statViews=0;">
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Week Uploads</span>
                <span class="dash-stat-value" ng-bind="statUploads"></span>
            </div>
            <i class="dash-stat-icon fa fa-file fa-3x"></i>
        </div>
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Week Uploaded Size</span>
                <span class="dash-stat-value" ng-bind="statUploadSize"></span>
            </div>
            <i class="dash-stat-icon fa fa-database fa-3x"></i>
        </div>
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Week Views</span>
                <span class="dash-stat-value" ng-bind="statViews"></span>
            </div>
            <i class="dash-stat-icon fa fa-eye fa-3x"></i>
        </div>
    </div>
    <div id="dash-singlestats-totals" class="dash-row">
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Total Uploads</span>
                <span class="dash-stat-value" ng-bind="statTotalUploads"></span>
            </div>
            <i class="dash-stat-icon fa fa-file fa-3x"></i>
        </div>
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Total Uploaded Size</span>
                <span class="dash-stat-value" ng-bind="statTotalUploadSize"></span>
            </div>
            <i class="dash-stat-icon fa fa-database fa-3x"></i>
        </div>
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Total Views</span>
                <span class="dash-stat-value" ng-bind="statTotalViews"></span>
            </div>
            <i class="dash-stat-icon fa fa-eye fa-3x"></i>
        </div>
    </div>
</div>
