<div class="inner" ng-controller="DashController">
    <div id="dash-singlestats" class="dash-row">
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Week Uploads</span>
                <span class="dash-stat-value" ng-bind="statWeekUploads"></span>
            </div>
            <i class="dash-stat-icon fa fa-file fa-3x"></i>
        </div>
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Week Uploaded Size</span>
                <span class="dash-stat-value" ng-bind="statWeekUploadSize"></span>
            </div>
            <i class="dash-stat-icon fa fa-database fa-3x"></i>
        </div>
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Week Views</span>
                <span class="dash-stat-value" ng-bind="statWeekViews"></span>
            </div>
            <i class="dash-stat-icon fa fa-eye fa-3x"></i>
        </div>
    </div>
    <div id="dash-singlestats-totals" class="dash-row">
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Total Uploads</span>
                <span class="dash-stat-value" ng-bind="statTotalUploads"></span>
            </div>
            <i class="dash-stat-icon fa fa-file fa-3x"></i>
        </div>
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Total Uploaded Size</span>
                <span class="dash-stat-value" ng-bind="statTotalUploadSize"></span>
            </div>
            <i class="dash-stat-icon fa fa-database fa-3x"></i>
        </div>
        <div class="dash-card dash-card-singlestat">
            <div class="dash-stat">
                <span class="dash-stat-title">Total Views</span>
                <span class="dash-stat-value" ng-bind="statTotalViews"></span>
            </div>
            <i class="dash-stat-icon fa fa-eye fa-3x"></i>
        </div>
    </div>
</div>
